.git
.gitignore
**/__pycache__/
**/*.pyc
**/*.pyo
**/*.pyd
*.swp
*.swo
.env
.env.*
node_modules
dist
builda.git
.gitignore
**/__pycache__/
**/*.py[cod]
*.log
.env
.env.*
venv/
.venv/
dist/
build/
cache/
logs/
volumes/
storage/
celery.log
celery_worker.log
.idea
.vscode

cache
.idea
.vscode
# 如果你只需要构建 api，也可以忽略其它大目录（按需）
# web/
# worker/
